*.iml
.gradle
/local.properties
local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.keystore
*.jks
.artifacts/


/brag-output-2026-09-21-1723
brag-output-2026-09-21-1723
.agents/
.agents
/long-video-output
long-video-output
